*{
 margin:0;
 padding:o;
 box-sizing: border-box;
}
body{
    background-color: #eef3f8;
}
.resume-item{
    width: 50%;
    margin: 600px ;
    margin: 40px auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}
.resume-item img{
    width: 100%;
    height: auto;
    display: block;
    
}
.resume-text{
    padding: 15px;
}
.resume-item h3{
    margin-top: 10px;

}
.resume-item p{
    margin-top: 18px;
}
